/* Import font and reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, white, blue);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .weather-app-container {
    background: #ffffff;
    color: #222E50;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 90%;
    max-width: 400px;
  }
  
  h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  input {
    flex: 1;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #222E50;
    font-size: 16px;
  }
  
  .search-btn {
    padding: 10px 15px;
    background: white;
    color: #222E50;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .search-btn:hover {
    background: #222E50;
  }
  
  .location-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px auto;
    padding: 10px 15px;
    background: #222E50;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .location-btn:hover {
    background: #e89c68;
  }
  
  .location-btn .icon {
    margin-right: 8px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
  }
  